/*------Page Setup---------*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Source San Pro",sans-serif;
    box-sizing: border-box;
}

.makeForm {
    min-height: 10vh;
    background-image: linear-gradient(120deg, #74ebd5 0%, #9face6 100%);
    width: 360px;
    background-color: white;
    height: 300px;
    padding: 80px 40px;
    left: 50%;
    top: 50%;
    position: relative;
}

.formHeading .mainHeading {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    color: #8ea8ad;
}
.formHeading {
    display: flex;
    flex-direction: column;
    align-items: center;
}
