/*------Page Setup---------*/

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Source San Pro",sans-serif;
    box-sizing: border-box;
}


.formHeading {
    border: none;
}
.Skeleton{
    border: 1px solid red;
}
.SkeletonHeading
{
    border: 1px solid red;
}
.SkeletonInput
{
    border: 1px solid red;
}
