body {
    background-color: #f1c40f;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.load {
    box-sizing: border-box;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    border-top: 10px solid #1abc9c;
    position: relative;

}

.load::before, .load::after {
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    box-sizing: border-box;
    left: 0;
    top: -10px;
    border-radius: 50%;

}

.load::before {
    border-top: 10px solid #2ecc71;
    transform: rotate(120deg);

}

.load::after {
    border-top: 10px solid #9b59b6;
    transform: rotate(-120deg);

}

.load span {
    text-align: center;
    color: white;
    width: 200px;
    height: 200px;
    font-size: 150%;
    position: absolute;
    margin-top: 40%;
}
